@use './' as *;

body {
    background-color: $clr-dark-gray;
    font-family: $font-primary;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculator {
    //height: 80vh;
    height: 40rem;
    width: 20rem;
    margin: 2.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $clr-dark;    
    border: .1rem solid $clr-light;
    border-radius: 2.7rem;
    padding: 2.5rem 0;

    .calculator__buttons {
        display: grid;
        gap: .7rem;
        grid-template-columns: repeat(4, 1fr);
    }
}